body{
    background-image: url("../images/leaves.png");
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    /* Width is 920 to account for padding added in next line */
    width: 920px;
    padding: 0 20px;
    margin: auto;
}

header{
    background-color: #ffffff; 
    font-family: 'Georgia', Times, "Times New Roman", serif;
}

.main-content{
    background-color: #ffffff;
    border: 1px solid #dddddd;
    overflow: auto;
}

.sub-content{
    padding: 20px;
}

h1{
    font-family: 'Georgia', Times, "Times New Roman", serif;
    border-bottom: 3px solid #dddddd;
    font-weight: bold;
    font-size: 30px;
    color: #4aaaa5;
    padding: 20px;
}

#about-me-img{
    float: left;
    padding-right: 20px;
    padding-bottom: 20px;
}

form{
    padding: 20px;
}

input{
    margin-top: 10px;
    margin-bottom: 20px;
    height: 24px;
    width: 100%;
}

#submit-button{
    background-color: #4aaaa5;
    width: 100px;
    height: 40px;
    border: none;
    color: white;
}

p{
    color: #777777;
}

textarea{
    margin-top: 10px;
    width: 100%;
    resize: none;
    height: 200px;
    border-color: #dddddd;
}

footer{
    background-color: #666666;
}

.portfolio-item{
    float: left;
    padding: 20px;
    position: relative;
}

.portfolio-item-label{
    background-color: #4aaaa5;
    text-align: center;
    height: 30px;
    width: 240px;
    padding: 20px;
    font-family: 'Georgia', Times, "Times New Roman", serif;
    font-size: 20px;
    color: #ffffff;
    position: absolute;
    bottom: 30px;
}